body {
	background-color: rgb(68, 68, 68);
	font-family: "Consolas", Times, serif;
}

.button {
	font-family: "Consolas", Times, serif;
    background-color: rgb(68, 68, 68);
	border: none;
	color: rgb(300, 300, 300);
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
	font-size: 14px;
	margin: 2px 1px;
	cursor: pointer;
	border-radius: 20px;
}
.button:hover {
	background-color: black
}

#rightTable {
	border-collapse: collapse;
	vertical-align: top;
}
#moveDiscs {
	padding: 1px;
	background-color: rgb(200, 200, 200);
	text-align: center;
}
#rightTableTitle {
	font-size: 18px;
	padding: 5px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
	background-color: rgb(136, 136, 136);
}
#withButtons{
	padding: 5px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 0.5px dashed black;
}
#withoutButtons {
	font-size: 16px;
	padding: 5px;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color: rgb(136, 136, 136);
}

#userBottomTable {
	background-color: rgb(200, 200, 200);
	width: 55%;
}
#userBottomTable td {
	width: 20%;
	padding: 10px;
	text-align: center;
}
#userBottomTable th {
	background-color: rgb(136, 136, 136);
	padding: 5px;
	text-align: center;
}